* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   padding: 40px 20px;
   background-color: whitesmoke;
}

#container {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    overflow: auto;
}
.box {
    float: left;
    margin: 8px;
    width: 154px;
    border: 1px solid #000;
    border-radius: 8px;
    overflow: hidden;
    height: 600px;
}
.box img {
    width: 100%;
    height: 200px;
}

.box.yellow {
    background-color: #ffeb3b;
}
.box.red {
    background-color: #f44336;
}
.box.green {
    background-color: #4caf50;
}
.box.blue {
    background-color: #2196f3;
}
.box-image {
    display: block;
}
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}